
<ul>
  <li>{{link-to 'react' 'org.repo.issues' 'react'}}</li>
  <li>{{link-to 'jquery' 'org.repo.issues' 'jquery'}}</li>
  <li>{{link-to 'angular' 'org.repo.issues' 'angular'}}</li>
</ul>

{{outlet}}
