<h1>Orgs</h1>

<ul>
  {{#each content as |o|}}
      {{github-org
        org=o
        on-fav-clicked='addToFavorites'}}
  {{/each}}
</ul>

{{social-info
  name="Mike North"
  twitter="MichaelNorth"
  github="mike-north"}}

{{outlet}}
